
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 10px;
}

main {
    flex: 1 0 auto;
}

span.negrita{
    color: rgb(9, 62, 66);
    font-weight: bold;
}

nav {
    background-color: hsl(115, 66%, 34%);
}

.brand-logo {
    color: white;
    font-size: 1.5rem;
}

.main-content {
    padding: 10px;
}

.button-view {
    background-color: teal;
    color: white;
}

.page-footer {
    background-color: hsl(115, 66%, 34%);
    color: white;
    padding: 20px 0;
}

.page-footer a {
    color: white;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(248, 251, 249, 0.921);
}

.modal {
    max-width: 500px; 
    max-height: 400px; 
    border-radius: 15px;
}

.modal-header {
    background-color: hsl(115, 66%, 34%);
    color: white;
    padding: 10px;
}

.modal-content {
    padding: 20px;
}

